*{
    box-sizing: border-box;
}
#hd1{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    
}
#srvs{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
}

.hd-sub h3 {
    color: white;
    font-size: 2em;
}

.hd-sub p{
    color: white;
    font-size: 1rem;
}
.masthead {
    padding-top: calc(4rem + 74px);
    padding-bottom: 2rem;
}
.masthead-srv{
    display: flex;
    align-items: center;
    padding-top: calc(4rem + 28px);
    padding-bottom: 2rem;
    color: white;
}
.crd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    }
.port-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-us {
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size:cover;
    display: cover;
    padding: 5%;
}
.footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }

