*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

  }
      html{
        background-color: #f1f1f1;
    }
body{
    background-color: white;
}
#hd1{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    
}
#srvs{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
}

.hd-sub h3 {
    color: white;
    font-size: 2em;
}

.hd-sub p{
    color: white;
    font-size: 1rem;
}
.masthead {
    padding-top: calc(4rem + 74px);
    padding-bottom: 2rem;
}
.masthead-srv{
    display: flex;
    align-items: center;
    padding-top: calc(4rem + 28px);
    padding-bottom: 2rem;
    color: white;
}
.crd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    }
.port-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-us {
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size:cover;
    display: cover;
    padding-right: 6rem ;
    padding-left: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

}

.font-w{
    color: white;
}
.font-siz{
    font-size: 0.9em;
    font-family: 600;
}

form #contact{
    background-color: rgba(0, 0, 0, 0);
  }
  
    input[type=text] {
    background:transparent;
    color: white;
  }
    textarea[type=text] {
    background:transparent;   
    color: white;
  }
  
 .submit{
    position:absolute;
    padding-left: 30%;
    padding-bottom: 2rem;
  }

.footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }
.what-we-do{
    display: none;    
}
.px-7{
    padding-left: 7rem;
    padding-right: 7rem;
}
